  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
 
   body {
    /* Margin bottom by footer height */
    margin-bottom: 150px;
    background-color: whitesmoke;
    margin: 0px;
  }


  body > .container {
    padding: 150px 0 0 0;
   }
  .padded {
    padding-top: 30px
  }
 