body{
    background-color:#e8eff7;
}
.div-top{ 
 
    align-items: center;
    display: flex;
    min-height: 70vh;
    height: 100%;
    width: 100%;
 
}
.container{
    margin-top:150px;
    max-height:100vh;
    min-height:500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -5px 5px 5px 0px rgba(189,178,189,0.81);
    border: 0.5px solid #bdb2bd;
}
.div-center{
    margin-top:30px;
    width: 100%;
}
.titulo h1{
    text-align: center;
}
.content{
    display: flex;
    text-align: center;
    padding-left: 35px;
}
.modulos {
    margin:13px 13px;
    width:30%;
    border-radius: 10px;
    box-shadow: -5px 5px 5px 0px rgba(189,178,189,0.81);
    border: 1px solid #bdb2bd;
  
}
.modulos img{
    width:auto;
    margin: auto auto;
    margin-top:25px;
    display:block;
    max-width: 300px;
    max-height: 200px;
    min-height: 200px;
    
}
.modulos h3 {
    margin-top:10px;
}
.modulos button {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color:#ffcb1f;
    border-radius:20px;
    border:1px solid #ffcb1f;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    padding:5px 22px;
    text-decoration:none;
}
.modulos button:hover{
    background-color:#ffd71f;
}
.modulos button a{
    color:#3c3c3c;
    text-decoration: none;
}